*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* :root {
  --clrA: hsl(29, 52%, 80%);
  --clrB: hsl(26, 36%, 61%);
  --clrC: hsl(15, 46%, 22%);
  --clrD: #a5836d;
  --clrE: #956b57;
  --clrF: #4c6c74;
  --clrG: #3a4a4d;
} */

:root {
    --clrA: #ffb56b;
    --clrB: #d8a443;
    --clrC: #6777b2;
    --clrD: #202842;
}

.container {
    width: 80vmin;
    height: 80vmin;
    border: 1px solid #444;
    margin: 10vmin auto;
}

/* Old version */

.bbClock {
  width: 400px;
  height: 340px;
  background-color: var(--clrB);
  position: relative;
}

.bbClock::before {
    position: absolute;
    content: '';
    bottom: calc(100% - 40px);
    left: -8%;
    right: -8%;
    height: 14px;
    background-color: var(--clrC);
}
.bbClock::after {
    position: absolute;
    content: '';
    top: 100%;
    left: -8%;
    right: -8%;
    height: 14px;
    background-color: var(--clrC);
}

.bbClock .bbA {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border: 14px solid var(--clrA);
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 1fr 50px;
}

.bbClock .bbA .bbB {
    background-color: var(--clrA);
    width: 24px;
    height: 24px;
    place-self: center;
}

.bbClock .bbA .bbB:nth-of-type(2) {
    grid-area: 1 / 3;
}
.bbClock .bbA .bbB:nth-of-type(3) {
    grid-area: 3 / 3;
}
.bbClock .bbA .bbB:nth-of-type(4) {
    grid-area: 3 / 1;
}

.bbClock .bbC {
    width: 140%;
    height: 140%;
    border-radius: 100%;
    background-color: #fff;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-self: center;
}

/* Roof */
.bbRoof {
    width: 400px;
}

.bbRoof .bbA {
    width: 85%;
    margin: auto;
    height: 70px;
    background: linear-gradient(to right, var(--clrD) 50%, var(--clrE) 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bbF {
    height: 80%;
    width: 5%;
    background-color: var(--clrC);
    margin: 0 3%;
    border-radius: 8px 8px 0 0;
}

.bbRoof .bbB {
    background: linear-gradient(to right, var(--clrF) 50%, var(--clrG) 0);
    width: 85%;
    margin: auto;
    height: 140px;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
}

.bbRoof .bbC {
    background: linear-gradient(to right, var(--clrD) 50%, var(--clrE) 0);
    height: 60px;
    width: 43%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.bbRoof .bbC .bbF {
    height: 65%;
    width: 7%;
    margin: 0 5%;
}

.bbRoof .bbC::before {
    position: absolute;
    content: '';
    top: 100%;
    left: -8%;
    right: -8%;
    height: 8px;
    background-color: var(--clrC);
    z-index: 1;
}
.bbRoof .bbC::after {
    position: absolute;
    content: '';
    bottom: 100%;
    left: -8%;
    right: -8%;
    height: 8px;
    background-color: var(--clrC);
    z-index: 1;
}

.bbD {
    background: linear-gradient(to right, var(--clrF) 50%, var(--clrG) 0);
    margin: auto;
    width: 50%;
    height: 250px;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
}

.bbE {
    height: 140px;
    width: 3px;
    background-color: #777;
    margin: -8px auto;
}

/* New version */
.a {
    background-color: var(--clrD);
    width: 10%;
    height: 20%;
    position: relative;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);

}

.aIn {
    position: absolute;
    background-color: var(--clrC);
    /* width: 100%; */
    /* height: 100%; */
    inset: 10px;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
}